[user]
	name = Juan Manuel Lomonaco
	email = juanmaflyer@gmail.com
[color]
	diff = auto
	status = auto
	branch = auto
	interactive = auto
	grep = always
[alias]
	st = status
	ci = commit
	apply-stash-to-dirty-working-tree = !git stash show -p | git apply && git stash drop
	tree = log --graph --decorate --pretty=oneline --abbrev-commit
	co = checkout
	log1 = log --pretty=oneline --abbrev-commit
